.accordion {
    position: relative;
    display: flex;
    gap: 15px;
    cursor: pointer;
    width: 100%;
    height: 90vw;
    max-height: 800px;
    overflow: hidden;
}

.accordion-item {
    position: relative;
    overflow: hidden;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    opacity: 0.7;
    border: 0;
    background: transparent;
    font-family: inherit;
    cursor: pointer;
    transition: 0.5s;
    text-align: left;
    border-radius: 10px;
}

.accordion-item:hover {
    opacity: 1;
}
.accordion-item.active {
    width: 60%;
    opacity: 1;
}

.accordion-item .content {
    width: 94.5%;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    border-radius: 10px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    gap: 14px;
    background-color: #ffffff4d;
    backdrop-filter: blur(20px);
    transition: 0.25s;
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}

.accordion-item.active .content {
    opacity: 1;
    visibility: visible;
}

.accordion-item img {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 100%;
    width: 70vw;
    object-fit: cover;
    filter: grayscale(0.6);
}

@media screen and (max-width: 1600px) {
    .accordion-item .content {
        width: 94%;
         font-size: 28px;
    font-weight: 700;
    line-height: 38.4px;
    }
}
@media screen and (max-width: 1400px) {
    .accordion-item .content {
        width: 93%;
         font-size: 24px;
    font-weight: 700;
    line-height: 36.4px;
    padding: 10px 20px;
    }
}
@media screen and (max-width: 1200px) {
    .accordion-item .content {
        width: 92%;
         font-size: 20px;
    font-weight: 700;
    line-height: 32.4px;
    padding: 10px 20px;
    }
}
@media screen and (max-width: 1040px) {
    .accordion-item .content {
        width: 92%;
         font-size: 18px;
    font-weight: 600;
    line-height: 28.4px;
    padding: 10px 20px;
    left: 15px;
    bottom: 15px;

    }
}
@media screen and (max-width: 980px) {
    .accordion-item .content {
        width: 92%;
         font-size: 18px;
    font-weight: 500;
    line-height: 24.4px;
    padding: 10px 20px;
    left: 15px;
    bottom: 15px;
    }
    .accordion{
        max-height: 400px;
    }
    .accordion-item {
    width: 25%;
    height: 100%;
    overflow: hidden;
}
.accordion-item.active {
    width: 60%;
    opacity: 1;
}
}
@media screen and (max-width: 840px) {
    .accordion-item .content {
        width: 91%;
         font-size: 18px;
    font-weight: 400;
    line-height: 22.4px;
    padding: 10px 10px;
    left: 15px;
    bottom: 15px;
    }
    .accordion{
        max-height: 400px;
    }
    .accordion-item {
    width: 25%;
    height: 100%;
}
.accordion-item.active {
    width: 60%;
    opacity: 1;
}
}
@media screen and (max-width: 760px) {
    .accordion-item .content {
        width: 92.5%;
         font-size: 18px;
    font-weight: 400;
    line-height: 22.4px;
    padding: 10px 10px;
    left: 10px;
    bottom: 10px;
    }
    .accordion{
        max-height: 400px;
    }
    .accordion-item {
    width: 50%;
    height: 100%;
}
.accordion-item:nth-child(2){
    display: none;
}

.accordion-item.active {
    width: 90%;
    opacity: 1;
}
}
@media screen and (max-width: 680px) {
    .accordion-item .content {
        width: 92%;
         font-size: 16px;
    font-weight: 400;
    line-height: 18.4px;
    padding: 10px 10px;
    left: 10px;
    bottom: 10px;
    }
    .accordion{
        max-height: 400px;
    }
    .accordion-item {
    width: 50%;
    height: 100%;
}
.accordion-item.active {
    width: 90%;
    opacity: 1;
}
}
@media screen and (max-width: 600px) {
    .accordion-item .content {
        width: 91%;
         font-size: 14px;
    font-weight: 300;
    line-height: 18.4px;
    padding: 10px 10px;
    left: 10px;
    bottom: 10px;
    }
    .accordion{
        max-height: 400px;
    }
    .accordion-item {
    width: 50%;
    height: 100%;
}
.accordion-item:nth-child(3){
    display: none;
}
.accordion-item.active {
    width: 90%;
    opacity: 1;
}

}
@media screen and (max-width: 540px) {
    .accordion-item .content {
        width: 90.5%;
         font-size: 12px;
    font-weight: 500;
    line-height: 18.4px;
    padding: 10px 10px;
    left: 10px;
    bottom: 10px;
    }
    .accordion{
        max-height: 400px;
    }
    .accordion-item {
    width: 50%;
    height: 100%;
}
.accordion-item.active {
    width: 90%;
    opacity: 1;
}
}
@media screen and (max-width: 480px) {
    .accordion-item .content {
        width: 88.5%;
         font-size: 12px;
    font-weight: 500;
    line-height: 16.4px;
    padding: 5px 5px;
    left: 10px;
    bottom: 10px;
    }
    .accordion{
        max-height: 400px;
    }
    .accordion-item {
    width: 50%;
    height: 100%;
}
.accordion-item.active {
    width: 90%;
    opacity: 1;
}
}
@media screen and (max-width: 440px) {
    .accordion-item .content {
        width: 87%;
         font-size: 10px;
    font-weight: 300;
    line-height: 12.4px;
    padding: 5px 5px;
    left: 10px;
    bottom: 10px;
    }
    .accordion{
        max-height: 400px;
    }
    .accordion-item {
    width: 50%;
    height: 100%;
}
.accordion-item.active {
    width: 90%;
    opacity: 1;
}
}