.mySwiper_footer{
    padding: 20px;
}
.swiper-slide{
    width: 100%;
}
.item {
    width: 100%;
    display: flex;
    border: 2px solid rgba(255, 255, 255, 0.25);
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 25px 40px 25px 40px;
    border-radius: 10px;
    opacity: 0px;
}
.item p {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

@media screen and (max-width: 1850px) {
    .item {
        padding: 20px 50px 20px 50px;
    }
}
@media screen and (max-width: 1800px) {
    .item {
        padding: 20px 50px 20px 50px;
    }
    .item p{
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
    }
}
@media screen and (max-width: 1700px) {
    .item {
        padding: 20px 50px 20px 50px;
    }
    
    .item p{
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
    }
}
@media screen and (max-width: 1600px) {
    .item {
        padding: 20px 30px 20px 30px;
    }
   
    .item p{
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
    }
}
@media screen and (max-width: 1500px) {
    .item {
        padding: 20px 30px 20px 30px;
    }
    .item p{
        font-size: 20px;
        font-weight: 600;
        line-height: 22px;
    }
    .footer {
        display: none;
    }
    .wrapper {
        display: block;
    }
}
@media screen and (max-width: 1400px) {
    .item {
        padding: 20px 25px 20px 25px;
    }
     .item p{
        font-size: 20px;
        font-weight: 500;
        line-height: 22px;
    }
}
@media screen and (max-width: 1300px) {
    .item {
        padding: 20px 30px 20px 30px;
    }
     .item p{
        font-size: 20px;
        font-weight: 500;
        line-height: 22px;
    }
}
@media screen and (max-width: 1200px) {
    .item {
        padding: 15px 20px 15px 20px;
    }
     .item p{
        font-size: 20px;
        font-weight: 500;
        line-height: 22px;
    }
}
@media screen and (max-width: 1150px) {
    .item {
        padding: 12px 20px 12px 20px;
    }
    .item a {
        width: 70px;
    }
     .item p{
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
    }
}
@media screen and (max-width: 1000px) {
    .item {
        padding: 12px 18px 12px 18px;
    }
     .item p{
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
    }
}
@media screen and (max-width: 900px) {
    .item {
        padding: 12px 14px 12px 14px;
    }
     .item p{
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
    }
}
@media screen and (max-width: 900px) {
    .item {
        padding: 12px 14px 12px 14px;
    }
     .item p{
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
    }
}
@media screen and (max-width: 700px) {
    .item {
        padding: 12px 14px 12px 14px;
    }
     .item p{
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
    }
}
@media screen and (max-width: 600px) {
    .item {
        padding: 12px 14px 12px 14px;
    }
     .item p{
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
    }
}
