@media screen and (max-width: 1400px) {
    #button {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 1.8rem;
        padding-right: 2.8rem;
        font-size: 1.2rem;
        line-height: 1.5rem;
        font-weight: 500;
        text-align: left;
        
    }
}
@media screen and (max-width: 1200px) {
     #button {
        padding-top: 1.3rem;
        padding-bottom: 1.3rem;
        padding-left: 1.6rem;
        padding-right: 2.4rem;
        font-size: 1rem;
        line-height: 1.4rem;
        font-weight: 500;
        text-align: left;
        
    }
}
@media screen and (max-width: 800px) {
       #button {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        padding-left: 1.4rem;
        padding-right: 2rem;
        font-size: 0.9rem;
        line-height: 1.2rem;
        font-weight: 500;
        text-align: left;
        
    }
}
@media screen and (max-width: 700px) {
     #button {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1.2rem;
        padding-right: 1.8rem;
        font-size: 0.9rem;
        line-height: 1.1rem;
        font-weight: 500;
        text-align: left;
        
    }
}
@media screen and (max-width: 600px) {
      #button {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1.2rem;
        padding-right: 1.8rem;
        font-size: 0.9rem;
        line-height: 1.1rem;
        font-weight: 500;
        text-align: left;
        
    }
}
@media screen and (max-width: 580px) {
    #button {
        width: 450px;
height: 50px;

border-radius: 30px;
font-size: 20px;

        
    }
}
@media screen and (max-width: 500px) {
    #button {
        width: 420px;
height: 50px;

border-radius: 30px;
font-size: 20px;

        
    }
}
@media screen and (max-width: 450px) {
    #button {
        width: 370px;
height: 50px;

border-radius: 30px;
font-size: 20px;

        
    }
}
@media screen and (max-width: 400px) {
    #button {
        width: 345px;
height: 50px;

border-radius: 30px;
font-size: 20px;

        
    }
}