.info {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.info_list {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 0 100px;
    gap: 20px;
}

.info_item {
    width: 50%;
    border-radius: 30px;
}

.info_item img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.info_item_new {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 60px;
    background-color: #21466D;
}

.info_item_new div {
    width: 90%;
}

.info_item_title {
    font-family: Manrope;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    letter-spacing: -0.02em;
    text-align: left;

    text-transform: uppercase;
    color: #FFFFFF;


    margin-bottom: 20px;
}

.info_item_title_span {
    font-family: Manrope;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    letter-spacing: -0.02em;
    text-align: left;

    color: #FFC82A;

}

.info_item_text {
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;

    margin-bottom: 20px;

    color: #FFFFFF80;


}




@media screen and (max-width: 1370px) {
    .info_item_new {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 20px;
    }

    .info_item_new div {
        width: 90%;
    }

    .info_item_title {
        font-size: 32px;
        font-weight: 700;
        line-height: 40.2px;
        letter-spacing: -0.02em;

        margin-bottom: 20px;
    }

    .info_item_title_span {
        font-size: 32px;
        font-weight: 700;
        line-height: 40.2px;
        letter-spacing: -0.02em;
    }

    .info_item_text {
        font-size: 18px;
        font-weight: 400;
        line-height: 25.6px;
        text-align: left;

    }
}

@media screen and (max-width: 1270px) {
    .info_item_new {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 20px;
    }

    .info_item_new div {
        width: 90%;
    }

    .info_item_title {
        font-size: 32px;
        font-weight: 700;
        line-height: 37.2px;
        letter-spacing: -0.02em;

        margin-bottom: 18px;
    }

    .info_item_title_span {
        font-size: 32px;
        font-weight: 700;
        line-height: 37.2px;
        letter-spacing: -0.02em;
    }

    .info_item_text {
        font-size: 16px;
        font-weight: 400;
        line-height: 23.6px;
        text-align: left;

    }
}

@media screen and (max-width: 1140px) {
    .info_item_new {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 20px;
    }

    .info_item_new div {
        width: 90%;
    }

    .info_item_title {
        font-size: 30px;
        font-weight: 700;
        line-height: 32.2px;
        letter-spacing: -0.02em;

        margin-bottom: 16px;
    }

    .info_item_title_span {
        font-size: 30px;
        font-weight: 700;
        line-height: 32.2px;
        letter-spacing: -0.02em;
    }

    .info_item_text {
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        text-align: left;

    }
}

@media screen and (max-width: 1100px) {
   
    .info_item_new {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 20px;
    }
    .info_list{
        padding: 0px 20px;
    }
    .info_item_new div {
        width: 90%;
    }

    .info_item_title {
        font-size: 30px;
        font-weight: 700;
        line-height: 30.2px;
        letter-spacing: -0.02em;

        margin-bottom: 14px;
    }

    .info_item_title_span {
        font-size: 30px;
        font-weight: 700;
        line-height: 30.2px;
        letter-spacing: -0.02em;
    }

    .info_item_text {
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        text-align: left;

    }
}

@media screen and (max-width: 1040px) {
    .info_item_new {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 15px;
    }

    .info_item_new div {
        width: 90%;
    }

    .info_item_title {
        font-size: 28px;
        font-weight: 700;
        line-height: 28.2px;
        letter-spacing: -0.02em;

        margin-bottom: 14px;
    }

    .info_item_title_span {
        font-size: 28px;
        font-weight: 700;
        line-height: 28.2px;
        letter-spacing: -0.02em;
    }

    .info_item_text {
        font-size: 15px;
        font-weight: 400;
        line-height: 21.4px;
        text-align: left;

    }
}

@media screen and (max-width: 970px) {
    .info_item_new {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 20px;
    }

    .info_item_new div {
        width: 90%;
    }

    .info_item_title {
        font-size: 26px;
        font-weight: 700;
        line-height: 26.2px;
        letter-spacing: -0.02em;

        margin-bottom: 12px;
    }

    .info_item_title_span {
        font-size: 26px;
        font-weight: 700;
        line-height: 26.2px;
        letter-spacing: -0.02em;
    }

    .info_item_text {
        font-size: 14px;
        font-weight: 400;
        line-height: 20.4px;
        text-align: left;

    }
}

@media screen and (max-width: 910px) {
    .info_item_new {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 20px;
    }

    .info_item_new div {
        width: 90%;
    }

    .info_item_title {
        font-size: 26px;
        font-weight: 700;
        line-height: 24.2px;
        letter-spacing: -0.02em;

        margin-bottom: 12px;
    }

    .info_item_title_span {
        font-size: 26px;
        font-weight: 700;
        line-height: 24.2px;
        letter-spacing: -0.02em;
    }

    .info_item_text {
        font-size: 16px;
        font-weight: 400;
        line-height: 18.4px;
        text-align: left;

    }
}

@media screen and (max-width: 900px) {
    .info_item_new {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 20px;
    }

    .info_item_new div {
        width: 90%;
    }

    .info_item_title {
        font-size: 22px;
        font-weight: 700;
        line-height: 22.2px;
        letter-spacing: -0.02em;

        margin-bottom: 12px;
    }

    .info_item_title_span {
        font-size: 22px;
        font-weight: 700;
        line-height: 22.2px;
        letter-spacing: -0.02em;
    }

    .info_item_text {
        font-size: 14px;
        font-weight: 400;
        line-height: 18.4px;
        text-align: left;

    }
}

@media screen and (max-width: 800px) {
    .info_item_new {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 20px;
    }

    .info_item_new div {
        width: 90%;
    }

    .info_item_title {
        font-size: 20px;
        font-weight: 700;
        line-height: 20.2px;
        letter-spacing: -0.02em;

        margin-bottom: 10px;
    }

    .info_item_title_span {
        font-size: 20px;
        font-weight: 700;
        line-height: 20.2px;
        letter-spacing: -0.02em;
    }

    .info_item_text {
        font-size: 13px;
        font-weight: 400;
        line-height: 15.4px;
        text-align: left;

    }
}

@media screen and (max-width: 700px) {
    .info_item_new {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 20px;
    }

    .info_item_new div {
        width: 90%;
    }

    .info_item_title {
        font-size: 20px;
        font-weight: 700;
        line-height: 20.2px;
        letter-spacing: -0.02em;

        margin-bottom: 10px;
    }

    .info_item_title_span {
        font-size: 20px;
        font-weight: 700;
        line-height: 20.2px;
        letter-spacing: -0.02em;
    }

    .info_item_text {
        font-size: 13px;
        font-weight: 400;
        line-height: 12.4px;
        text-align: left;

    }
}

@media screen and (max-width: 620px) {
    .info_list {
        flex-direction: column;
        align-items: center
    }

    .info_item {
        width: 100%;

    }

    .info_item img {
        border-radius: 30px;
    }

    .info_item_new {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 20px;
    }

    .info_item_new div {
        width: 95%;
    }

    .info_item_title {
        font-size: 24px;
        font-weight: 700;
        line-height: 21.6px;
        letter-spacing: -0.02em;

        margin-bottom: 10px;
    }

    .info_item_title_span {
        font-size: 24px;
        font-weight: 700;
        line-height: 21.6px;
        letter-spacing: -0.02em;
    }

    .info_item_text {
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        text-align: left;

    }
}

@media screen and (max-width: 480px) {
    .info_list {
        flex-direction: column;
        align-items: center
    }

    .info_item {
        width: 100%;

    }

    .info_item img {
        border-radius: 30px;
    }

    .info_item_new {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
    }

    .info_item_new div {
        width: 95%;
    }

    .info_item_title {
        font-size: 22px;
        font-weight: 700;
        line-height: 20.6px;
        letter-spacing: -0.02em;

        margin-bottom: 10px;
    }

    .info_item_title_span {
        font-size: 22px;
        font-weight: 700;
        line-height: 20.6px;
        letter-spacing: -0.02em;
    }

    .info_item_text {
        font-size: 15px;
        font-weight: 400;
        line-height: 20.4px;
        text-align: left;

    }
}