.navbar{
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 30px 0px;
}
.navbar header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
}
.navbar header ul:nth-child(1){ 
    display: none;
    order:20;
}
.navbar header ul:nth-child(2){ 
    width: 20%;
    /* background-color: brown; */
}
.navbar header ul:nth-child(2)>div{ 
    width: 100%;
}
.navbar header ul:nth-child(2)>div>img{ 
    width: 90%;
}


.navbar header ul:nth-child(4){ 
    /* background-color: green; */
    flex-grow: 0.4;
    width: 10%;
    gap: 10px;
    

}
.navbar header ul:nth-child(4)>li>{ 
    width: 100%;
    /* background-color: pink; */
}
.navbar header ul:nth-child(4)>li>div{ 
    width: 100%;

    /* background-color: yellow; */
}
.navbar header ul:nth-child(4)>li>div>button{ 
    width: 100%;
    /* background-color: yellow; */
}
.navbar header ul:nth-child(4)>li>div>ul{ 
    width: 100%;
    /* background-color: yellow; */
}


@media screen and (max-width: 1480px) {
    .navbar header ul:nth-child(3)>li>a{ 
    /* background-color: red; */
        padding-left: 5px;
        padding-right: 5px;
        font-size: 18px;
    }
     .navbar header ul:nth-child(3){ 
        gap: 5px;
    }


    
}
@media screen and (max-width: 1300px) {
    .navbar header ul:nth-child(3)>li>a{ 
    /* background-color: red; */
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
    }
     .navbar header ul:nth-child(3){ 
        gap: 5px;
    }

    
}
@media screen and (max-width: 1250px) {
    .navbar header ul:nth-child(3)>li>a{ 
    /* background-color: red; */
        padding-left: 0px;
        padding-right: 0px;
        font-size: 16px;
    }
    .navbar header ul:nth-child(3){ 
        gap: 3px;
    }

    
}
@media screen and (max-width: 1150px) {
    .navbar header ul:nth-child(3)>li>a{ 
    /* background-color: red; */
        padding-left: 0px;
        padding-right: 0px;
        font-size: 16px;
    }
    .navbar header ul:nth-child(3){ 
            gap: 0px;
            justify-content: space-evenly;
    }

    
}
@media screen and (max-width: 1100px) {
    
    .navbar header ul:nth-child(3){ 
        display: none;
    }
     .navbar header ul:nth-child(2)>div>img{ 
        width: 45%;
    }
    .navbar header ul:nth-child(1){ 
            display: block;
            width: 20%;
            flex-grow: 0.2;
    }
     .navbar header ul:nth-child(1)>button{ 
            width: 100%;
            height: 100%;
    }
    .navbar header ul:nth-child(1)>button>span{ 
            width: 100%;
            height: 100%;
            color:white;
            border: 2px solid rgba(255, 255, 255, 1);
            border-radius: 25px;
    }

    
}
@media screen and (max-width: 960px) {
    .navbar{
        padding: 20px 0px;
    }
    .navbar header ul:nth-child(3){ 
        display: none;
    }
     .navbar header ul:nth-child(2)>div>img{ 
        width: 50%;
    }
    .navbar header ul:nth-child(1)>button>span{ 
            width: 100%;
            height: 100%;
            padding: 10px;
            color:white;
            border: 2px solid rgba(255, 255, 255, 1);
            border-radius: 20px;
    }
    

    
}
@media screen and (max-width: 880px) {
    .navbar{
        padding: 20px 0px;
    }
    .navbar header ul:nth-child(3){ 
        display: none;
    }
     .navbar header ul:nth-child(2)>div>img{ 
        width: 60%;
    }
    .navbar header ul:nth-child(1)>button>span{ 
            width: 100%;
            height: 100%;
            color:white;
            border: 2px solid rgba(255, 255, 255, 1);
            border-radius: 15px;
    }
    

    
}
@media screen and (max-width: 700px) {
    .navbar{
        padding: 20px 0px;
    }
    .navbar header ul:nth-child(3){ 
        display: none;
    }
     .navbar header ul:nth-child(2)>div>img{ 
        width: 70%;
    }
    .navbar header ul:nth-child(1)>button>span{ 
            width: 120%;
            height: 100%;
            color:white;
            border: 2px solid rgba(255, 255, 255, 1);
            border-radius: 10px;
    }
        
}
@media screen and (max-width: 900px) {
    .navbar{
        padding: 20px 0px;
    }
    .navbar header ul:nth-child(3){ 
        display: none;
    }
    
    .navbar header ul:nth-child(1)>button>span{ 
            width: 104px;
            height: 48px;
            color:white;
            border: 2px solid rgba(255, 255, 255, 1);
            padding: 0px 10px;
            border-radius: 31px;
    }
        
}
@media screen and (max-width: 650px) {
    .navbar{
        padding: 20px 0px;
    }
    .navbar header ul:nth-child(3){ 
        display: none;
    }
     
    .navbar header ul:nth-child(1)>button>span{ 
            width: 94px;
            height: 40px;
            color:white;
            border: 2px solid rgba(255, 255, 255, 1);
            padding: 0px 10px;
            border-radius: 31px;
    }
        
}

@media screen and (max-width: 480px) {
    .navbar{
        padding: 20px 0px;
    }
    .navbar header ul:nth-child(3){ 
        display: none;
    }
     .navbar header ul:nth-child(2)>div>img{ 
        width: 156px;
        height: 35px;
    }
    .navbar header ul:nth-child(1)>button>span{ 
            width: 54px;
            height: 32px;
            color:white;
            border: 2px solid rgba(255, 255, 255, 1);
            padding: 0px 15px;
            border-radius: 10px;
    }
        
}


a.navbar{
    width: 100%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 30px 0px;
}
.navbar header{
    width: 100%;
    height: 100%;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar header ul:nth-child(1){ 
    display: none;
    order:20;
}
.navbar header ul:nth-child(2){ 
    width: 20%;
    /* background-color: brown; */
}
.navbar header ul:nth-child(2)>div{ 
    width: 100%;
}
.navbar header ul:nth-child(2)>div>img{ 
    width: 90%;
}
.navbar header ul:nth-child(3){ 
    /* background-color: red; */
    width: 70%;
    justify-content: space-around;
}
.navbar header ul:nth-child(4){ 
    /* background-color: green; */
    flex-grow: 0.4;
    width: 10%;
    gap: 0px;
}
.navbar header ul:nth-child(4)>li>{ 
    width: 100%;
    /* background-color: pink; */
}
.navbar header ul:nth-child(4)>li>div{ 
    width: 100%;
    /* background-color: yellow; */
}
.navbar header ul:nth-child(4)>li>div>button{ 
    width: 100%;
    /* background-color: yellow; */
}
.navbar header ul:nth-child(4)>li>div>ul{ 
    width: 100%;
    /* background-color: yellow; */
}

@media screen and (max-width: 1480px) {
    .navbar header ul:nth-child(3)>li>a{ 
    /* background-color: red; */
        padding-left: 5px;
        padding-right: 5px;
        font-size: 18px;
    }
     .navbar header ul:nth-child(3){ 
            gap: 5px;
    }


    
}
@media screen and (max-width: 1300px) {
    .navbar header ul:nth-child(3)>li>a{ 
    /* background-color: red; */
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
    }
     .navbar header ul:nth-child(3){ 
            gap: 5px;
    }

    
}
@media screen and (max-width: 1250px) {
    .navbar header ul:nth-child(3)>li>a{ 
    /* background-color: red; */
        padding-left: 0px;
        padding-right: 0px;
        font-size: 16px;
    }
    .navbar header ul:nth-child(3){ 
            gap: 3px;
    }

    
}
@media screen and (max-width: 1150px) {
    .navbar header ul:nth-child(3)>li>a{ 
    /* background-color: red; */
        padding-left: 0px;
        padding-right: 0px;
        font-size: 16px;
    }
    .navbar header ul:nth-child(3){ 
            gap: 0px;
            justify-content: space-evenly;
    }

    
}
@media screen and (max-width: 1100px) {
    .navbar header ul:nth-child(3){ 
        display: none;
    }
     .navbar header ul:nth-child(2)>div>img{ 
        width: 45%;
    }
    .navbar header ul:nth-child(1){ 
            display: block;
            width: 20%;
            flex-grow: 0.2;
            height: 54px;
    }
     .navbar header ul:nth-child(1)>button{ 
            width: 100%;
            height: 100%;
    }
    .navbar header ul:nth-child(1)>button>span{ 
            width: 100%;
            height: 100%;
            color:white;
            border: 2px solid rgba(255, 255, 255, 1);
            border-radius: 25px;
    }

    
}
@media screen and (max-width: 960px) {
    .navbar{
        padding: 20px 0px;
    }
    .navbar header ul:nth-child(3){ 
        display: none;
    }
     .navbar header ul:nth-child(2)>div>img{ 
        width: 45%;
    }
    .navbar header ul:nth-child(1)>button>span{ 
            width: 100%;
            height: 100%;
            padding: 10px;
            color:white;
            border: 2px solid rgba(255, 255, 255, 1);
            border-radius: 20px;
    }
    

    
}
@media screen and (max-width: 880px) {
    .navbar{
        padding: 20px 0px;
    }
    .navbar header ul:nth-child(3){ 
        display: none;
    }
     .navbar header ul:nth-child(2)>div>img{ 
        width: 70%;
    }
    .navbar header ul:nth-child(1)>button>span{ 
            width: 100%;
            height: 100%;
            color:white;
            border: 2px solid rgba(255, 255, 255, 1);
            border-radius: 15px;
    }
    

    
}
@media screen and (max-width: 700px) {
    .navbar{
        padding: 20px 0px;
    }
    .navbar header ul:nth-child(3){ 
        display: none;
    }
     .navbar header ul:nth-child(2)>div>img{ 
        width: 70%;
    }
    .navbar header ul:nth-child(1)>button>span{ 
            width: 120%;
            height: 100%;
            color:white;
            border: 2px solid rgba(255, 255, 255, 1);
            border-radius: 10px;
    }
        
}
@media screen and (max-width: 900px) {
    .navbar{
        padding: 20px 0px;
    }
    .navbar header ul:nth-child(3){ 
        display: none;
    }
    
    .navbar header ul:nth-child(1)>button>span{ 
            width: 104px;
            height: 48px;
            color:white;
            border: 2px solid rgba(255, 255, 255, 1);
            padding: 0px 10px;
            border-radius: 31px;
    }
        
}
@media screen and (max-width: 650px) {
    .navbar{
        padding: 20px 0px;
    }
    .navbar header ul:nth-child(3){ 
        display: none;
    }
     
     
    .navbar header ul:nth-child(1)>button>span{ 
            width: 94px;
            height: 40px;
            color:white;
            border: 2px solid rgba(255, 255, 255, 1);
            padding: 0px 10px;
            border-radius: 31px;
    }
        
}
@media screen and (max-width: 480px) {
    .navbar{
        padding: 20px 0px;
    }
    .navbar header{
        padding-left: 0px;
        padding-right: 0px;
    }
    .navbar header ul:nth-child(3){ 
        display: none;
    }
     .navbar header ul:nth-child(2)>div>img{ 
        width: 40%;
        width: 106px;
        height: 32px;
    }
    .navbar header ul:nth-child(2)>div>img{
        width: 100%;
        height: 100%;
    }
    .navbar header ul:nth-child(1)>button>span{ 
            width: 54px;
            height: 32px;
            color:white;
            border: 2px solid rgba(255, 255, 255, 1);
            padding: 0px 15px;
            border-radius: 10px;
    }
        
}




