.magistr {
    width: 100%;
    padding-top: 20px;
    max-width: 1440px;
    margin: 0 auto;
}
.magistr_list {
    width: 100%;
    display: flex;
    align-items: stretch;
    border-radius: 30px;
    justify-content: space-between;
    padding: 0 100px;
    gap: 20px;
}
.magistr_item {
    width: 49.5%;
    margin: 0px;
    border-radius: 30px;
}
.magistr_item_first {
    width: 50.5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.inner_item{
    width: 80%;
}
.magistr_item_title {
    font-family: Manrope;
font-size: 32px;
font-weight: 700;
line-height: 35.2px;
text-align: left;

    text-transform: uppercase;
    color: rgba(33, 70, 109, 1);
    margin-bottom: 20px;
}
.magistr_item_title span {
    font-family: Manrope;
font-size: 32px;
font-weight: 700;
line-height: 35.2px;

    text-transform: uppercase;
    text-align: left;
    color: rgba(255, 200, 42, 1);
}
.magistr_item_text {
    font-family: Manrope;
font-size: 18px;
font-weight: 400;
line-height: 25.2px;
text-align: left;

    margin-bottom: 30px;
    color: rgba(33, 70, 109, 0.35);
}


@media screen and (max-width: 1260px) {
    .inner_item {
        width: 90%;
    }
    .magistr_item_title {
        font-size: 28px;
font-weight: 700;
line-height: 32.2px;
        letter-spacing: -0.02em;
        margin-bottom: 20px;
    }
    .magistr_item_title span {
        font-size: 28px;
font-weight: 700;
line-height: 32.2px;
        letter-spacing: -0.02em;
    }
    .magistr_item_text {
        font-size: 18px;
font-weight: 400;
line-height: 22.2px;
    }
}
@media screen and (max-width: 1150px) {
    .inner_item{
        width: 90%;
    }
    .magistr_item_title {
         font-size: 28px;
font-weight: 700;
line-height: 32.2px;
        letter-spacing: -0.02em;
        margin-bottom: 20px;
    }
    .magistr_item_title span {
        font-size: 28px;
font-weight: 700;
line-height: 32.2px;
        letter-spacing: -0.02em;
    }
    .magistr_item_text {
         font-size: 18px;
font-weight: 400;
line-height: 22.2px;
    }
}
@media screen and (max-width: 1100px) {
    .magistr_list{
        padding: 0px 20px;
    }

}
@media screen and (max-width: 1080px) {
    .inner_item {
        width: 90%;
    }
    .magistr_item_title {
         font-size: 28px;
font-weight: 700;
line-height: 32.2px;
        letter-spacing: -0.02em;
        margin-bottom: 15px;
    }
    .magistr_item_title span {
         font-size: 28px;
font-weight: 700;
line-height: 32.2px;
        letter-spacing: -0.02em;
    }
    .magistr_item_text {
        font-size: 18px;
        font-weight: 400;
        line-height: 20.6px;
    }
}
@media screen and (max-width: 1080px) {
    .inner_item {
        width: 90%;
    }
    .magistr_item_title {
         font-size: 28px;
font-weight: 700;
line-height: 32.2px;
        letter-spacing: -0.02em;
        margin-bottom: 15px;
    }
    .magistr_item_title span {
        font-size: 28px;
font-weight: 700;
line-height: 32.2px;
        letter-spacing: -0.02em;
    }
    .magistr_item_text {
        font-size: 16px;
        font-weight: 400;
        line-height: 18.6px;
    }
}
@media screen and (max-width: 970px) {
    .inner_item {
        width: 90%;
    }
    .magistr_item_title {
         font-size: 28px;
font-weight: 700;
line-height: 32.2px;
        letter-spacing: -0.02em;
        margin-bottom: 15px;
    }
    .magistr_item_title span {
        font-size: 28px;
font-weight: 700;
line-height: 32.2px;
        letter-spacing: -0.02em;
    }
    .magistr_item_text {
        font-size: 15px;
        font-weight: 400;
        line-height: 16.6px;
    }
}
@media screen and (max-width: 940px) {
    .inner_item {
        width: 90%;
    }
    .magistr_item_title {
        font-size: 26px;
        font-weight: 700;
        line-height: 24.2px;
        letter-spacing: -0.02em;
        margin-bottom: 15px;
    }
    .magistr_item_title span {
        font-size: 26px;
        font-weight: 700;
        line-height: 22.2px;
        letter-spacing: -0.02em;
    }
    .magistr_item_text {
        font-size: 15px;
        font-weight: 400;
        line-height: 16.6px;
    }
}

@media screen and (max-width: 860px) {
    .inner_item {
        width: 90%;
    }
    .magistr_item_title {
        font-size: 24px;
        font-weight: 700;
        line-height: 22.2px;
        letter-spacing: -0.02em;
        margin-bottom: 15px;
    }
    .magistr_item_title span {
        font-size: 24px;
        font-weight: 700;
        line-height: 20.2px;
        letter-spacing: -0.02em;
    }
    .magistr_item_text {
        font-size: 15px;
        font-weight: 400;
        line-height: 16.6px;
    }
}
@media screen and (max-width: 800px) {
    .magistr_list{
        flex-direction: column;
        align-items: center;
    }
    .magistr_item{
        width: 100%;
        height: 100%;
    }
    .magistr_item_first div {
        width: 90%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .magistr_item_title {
        font-size: 29px;
        font-weight: 700;
        line-height: 28.6px;
        letter-spacing: -0.02em;
        margin-bottom: 15px;
    }
    .magistr_item_title span {
        font-size: 29px;
        font-weight: 700;
        line-height: 28.6px;
        letter-spacing: -0.02em;
    }
    .magistr_item_text {
        font-size: 18px;
        font-weight: 400;
        line-height: 22.4px;
    }
}
@media screen and (max-width: 700px) {
    .magistr_list{
        flex-direction: column;
        align-items: center;
    }
    .magistr_item{
        width: 100%;
        height: 100%;
    }
    .magistr_item_first div {
        width: 90%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .magistr_item_title {
        font-size: 26px;
        font-weight: 700;
         line-height: 26.6px;
        letter-spacing: -0.02em;
        margin-bottom: 15px;
    }
    .magistr_item_title span {
        font-size: 26px;
        font-weight: 700;
        line-height: 26.6px;
        letter-spacing: -0.02em;
    }
    .magistr_item_text {
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
    }
}
@media screen and (max-width: 620px) {
    .magistr_list{
        flex-direction: column;
        align-items: center;
    }
    .magistr_item{
        width: 100%;
        height: 100%;
    }
    .magistr_item_first div {
        width: 90%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .magistr_item_title {
        font-size: 24px;
        font-weight: 700;
        line-height: 23.6px;
        letter-spacing: -0.02em;
        margin-bottom: 15px;
    }
    .magistr_item_title span {
        font-size: 24px;
        font-weight: 700;
        line-height: 23.6px;
        letter-spacing: -0.02em;
    }
    .magistr_item_text {
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
    }
}

@media screen and (max-width: 500px) {
    .magistr_list{
        flex-direction: column;
        align-items: center;
    }
    .magistr_item{
        width: 100%;
        height: 100%;
    }
    .magistr_item_first div {
        width: 90%;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .magistr_item_title {
        font-size: 24px;
        font-weight: 700;
        line-height: 23.6px;
        letter-spacing: -0.02em;
        margin-bottom: 15px;
    }
    .magistr_item_title span {
        font-size: 24px;
        font-weight: 700;
        line-height: 23.6px;
        letter-spacing: -0.02em;
    }
    .magistr_item_text {
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
    }
}
